<div class="container">
    <div id="loginbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div>
                        <h4>Log in to our site!</h4>
                        <p>Enter your username and password:</p>
                    </div>
                    <p class="glyphicon glyphicon-lock"></p>
                </div>
            </div>
            <div class="panel-body">
                <form (submit)="onLoginSubmit()" class="form-horizontal" role="form">
                    <div class="input">
                        <input [(ngModel)]="username" type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div style="margin-top:10px" class="form">
                        <input type="submit" class="btn btn-success btn-block" value="Sign in"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>