/* You can add global styles to this file, and also import other style files */

html, body {
	background: #f4f4f4;
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
}

.main-color-bg{
	background-color: #001029 !important;
  	border-color: #03001a !important;
	color: #00caf6 !important;
}

/* Members Table */
/* Overwrite native col-md padding */
.table-controls {
	padding: 0 0 10px 0;
}

/* Controls */
.search-box-wrapper{
	display: inline-flex;
	font-size: 14px;
	height: 35px;
	float: right;
}

.search-box-input{
	font-size: inherit;
	height: inherit;
	border: 0.2em solid #3e3f3a;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0.2em 0.5em;
	outline: 0;
}

.search-box-input:focus{
	border-color: #3e3f3a;
}

.search-box-btn{
	font-size: inherit;
	height: inherit;
	background-color: #3e3f3a;
	border: 0.2em solid #3e3f3a;
	border-radius: 0 0.5em 0.5em 0;
	border-left: 0;
	padding: 0 0.75em;
	color: white;
	outline: 0;
}

.search-box-btn:hover{
	background-color: #292926;
	border-color: #292926;
}

.search-box-btn:active{
	background-color: black;
	border-color: black;
}

.add-btn {
	height: 35px;
	width: 100px;
	padding-top: 0;
	padding-bottom: 0;
	float: left;
}

/* Table Body */
table > tbody > tr > td > a {
	color: #3e3f3a;
}

.table-hover tbody tr:hover td{
	background: #001029;
	color: #00caf6;
}

.table-hover tbody tr:hover td a{
	color: #00caf6;
}

.table-hover tbody tr:hover td a:hover{
	color: #ffffff;
	text-decoration: none;
}