.searchbar {
	display: inline-block;
  	position: relative;
  	width: 100%;
  	overflow: hidden;
}

.glyphicon-search {
	position: absolute;
  	top: 15px;
 	right: 25px;
 	padding-right: 1px;
}

.responsbtn{
	position: relative;
	width: 100%;
	max-width: 50px;
	max-height: 40px;
	opacity: 0.2;

}

.btn:hover {
	opacity: 1;
}

#addbtn {
	max-width: 100%;
	opacity: 1;
}