.page-nav-wrapper{
	padding: 0;
}

.container {
	margin-top: 20px;
}

.panel-title > a{
  cursor: pointer;
  float: right;
  text-decoration: none;
  font-size: 15px;
}

.panel-title > a:hover{
  color: #ffffff;
}

.well > h4{
  word-wrap: break-word;
}

.list-group-item{
  margin-bottom: 5px;
}

.modal-dialog{
  width: 400px;
}

.modal-content{
  border-color: #001029 !important;
}

.modal-header{
  background-color: #001029 !important;
  border-color: #001029 !important;
  color: #00caf6 !important;
}

.modal-header .close{
  color: #00caf6 !important;
  opacity: 1;
}

.modal-header .close:hover{
  color: #ffffff !important;
  opacity: 1;
}

.modal-body hr{
  border-top: 1px solid #001029;
  opacity: 0.5;
}

.form-control{
  height: 30px;
  padding: 4px 16px;
}

.modal-footer > button {
  padding: 8px 16px !important;
}

/************************/

.membershipdropdown {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.dropdown-menu {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    border-radius: 0;
    position: relative;
}

/*************************/

@media (max-width: 991px) {
  .page-nav-wrapper {
  	display: none;
  }
}