<div class="page-nav-wrapper col-md-2">
  <app-page-nav></app-page-nav>
</div>
<div class="container col-xs-12 col-md-10">
		<div class="panel panel-default">
              <div class="panel-body">
	                <div class="col-md-12 col-sm-12 col-xs-12 centeralign" >
		              	<div class="col-md-8 col-sm-8 col-xs-9">
			             	<h2>Price List</h2>
		                </div>
		                <div class="col-md-4 col-sm-3 col-xs-3">
				          <input type="button" class="btn btn-default submit-btn responsbtn" value="Add Item">
			          	</div> 
					</div>
                  <br>
                <table id="memberstable" class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Naziv</th>
                          <th>Lenght</th>
                          <th>Price</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>random data TXT</td>
                          <td>random data Number</td>
                          <td>random data Number</td>
                          <td><input type="button" class="btn btn-danger responsbtn" value="X"></td>
                        </tr>
                        <tr>
                          <td>random data TXT</td>
                          <td>random data Number</td>
                          <td>random data Number</td>
                          <td><input type="button" class="btn btn-danger responsbtn" value="X"></td>
                        </tr>
                        <tr>
                          <td>random data TXT</td>
                          <td>random data Number</td>
                          <td>random data Number</td>
                          <td><input type="button" class="btn btn-danger responsbtn" value="X"></td>
                        </tr>
                        <tr>
                          <td>random data TXT</td>
                          <td>random data Number</td>
                          <td>random data Number</td>
                          <td><input type="button" class="btn btn-danger responsbtn" value="X"></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
	</div>
</div>