<div class="page-nav-wrapper col-md-2">
  <app-page-nav></app-page-nav>
</div>
<div class="container col-xs-12 col-md-10">
  <div class="panel panel-default">
      <div class="panel-heading main-color-bg">
        <h3 class="panel-title main-color-bg">Price List</h3>
      </div>
      <div class="panel-body">
        <div class="table-controls col-xs-6 col-sm-6 col-md-6">
          <button class="btn btn-default add-btn" type="submit">Add Item</button>       
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Lenght</th>
              <th>Price</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>random data TXT</a></td>
              <td>random data Number</td>
              <td>random data Number</td>
              <td><a><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Modal -->