<div class="register-background">
    <div class="container">
        <div id="registerbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div>
                            <h4>Sign up now!</h4>
                            <p>Fill the for below to get instant access:</p>
                        </div>
                        <p class="glyphicon glyphicon-pencil"></p>
                    </div>
                </div>
                <div class="panel-body">
                    <form (submit)="onRegisterSubmit()" class="form-horizontal" role="form">
                        <div class="input">
                            <input [(ngModel)]="name" type="name" class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="input">
                            <input [(ngModel)]="username" type="username" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="input">
                            <input [(ngModel)]="email" type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="input">
                            <input [(ngModel)]="password" type="password" class="form-control" name="password"placeholder="Password">
                        </div>
                        <div style="margin-top:10px" class="form">
                            <input type="submit" class="btn btn-success btn-block" value="Sign me up"> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>