.register-background {
    background: -moz-linear-gradient(270deg, #00caf6 0%, #001029 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00caf6), color-stop(100%, #001029)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #00caf6 0%, #001029 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #00caf6 0%, #001029 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #00caf6 0%, #001029 100%); /* ie10+ */
    background: linear-gradient(180deg, #00caf6 0%, #001029 100%); /* w3c */
    background-position: relative;
    background-size: contain;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00caf6', endColorstr='#001029',GradientType=0 ); /* ie6-9 */
}

#registerbox {  
    background: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;   
    box-shadow: 0 8px 50px -2px #000; 
}

.panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
}

.panel-title {
    display: flex;
    justify-content: space-between;
}

.panel-body {
    padding-left: 10px;
    padding-right: 10px;

}

.input {
     margin-bottom: 10px;
}

.glyphicon {
    font-size: 50px
}