<div class="home-background">
  <div class="container col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 style="margin-top: 10px; line-height: 1.5;">
          CREATE PRICELIST, ADD MEMBERS &amp;<br>
          MANAGE THEM WITH EASE
        </h1>
        <h5>
           With yourGYM you can track every membership and payment<br>
           just click on member`s name to access their profile
        </h5>
        <div style="display: inline-flex; margin-top: 20px;">
          <button [routerLink]="['/register']" type="button" class="btn btn-primary" style="padding: 15px 40px; font-size: 14px;">
          GET STARTED
          </button>
          <label style="align-items: center; display:flex; font-weight: lighter; font-size: 11px; margin-left: 10px;">
          Get started by signing up with us<br>
          FREE of charge
          </label>
        </div>
      </div>
    </div>
  </div>
</div>