<div class="home-background">
  <div class="container col-md-7">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- indikatori -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
     <!-- sadrzaj -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../../assets/carouselBG.png" class="img-responsive">
          <div class="carousel-caption">
            <div class="carouselPic">
              <img src="assets/test.png" class="">
            </div>
            <div class="carouselText">
              <h1>About Us 1</h1>
              <h2>We are bla bla bla bla bla bla bla bla</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/carouselBG.png" class="img-responsive">
          <div class="carousel-caption">
            <div class="carouselText">
              <h1>About Us 2</h1>
              <h2>We are bla bla bla bla bla bla bla bla</h2>
            </div>
            <div class="carouselPic">
              <img src="assets/test.png" class="">
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/carouselBG.png" class="img-responsive">
          <div class="carousel-caption">
            <div class="carouselPic">
              <img src="assets/test.png" class="">
            </div>
            <div class="carouselText">
              <h1>About Us 3</h1>
              <h2>We are bla bla bla bla bla bla bla bla</h2>
            </div>
          </div>
        </div>
      </div>    
      <!-- kontrole -->      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
