#page-nav{
  height: 100%;
  margin: 0;
  padding: 0;
}
#page-nav > ul {
	margin: 0;
	padding: 0;
}

#page-nav > ul > li {
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(0,202,246,0.3); 
}

#page-nav > ul > li.active {
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(0,202,246, 1); 
}

/* normal */
#page-nav > ul > li > a{
  color: #00caf6;
}

/* hover */
#page-nav > ul > li > a:hover{
  color: #ffffff;
  text-decoration: none;
}

/* hover */
#page-nav > ul > li.active > a{
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .page-nav-collapse {
  	display: none;
  }
}