<div id="page-nav" class="main-color-bg">
	<ul>
	    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
	    	<a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-cog"></span> Dashboard
	    	</a>
	    </li>
	    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
	    	<a [routerLink]="['/pricelist']"><span class="glyphicon glyphicon-list-alt"></span> Pricelist
	    	</a>
	    </li>
	    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
	    	<a [routerLink]="['/members']"><span class="glyphicon glyphicon-th-list"></span> Members
	    	</a>
	    </li>
	</ul>
</div>