<div class="list-group">
	<ul id="pagenavigation">
        <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['/BusinessSettings']">Business settings</a></li>
        <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['/members']">Members</a></li>
	</ul>
</div>